
            #nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
                width: 7px;
                height: 7px;
                background-color: #ffffff;     
                -moz-border-radius:50%;
                -webkit-border-radius:50%;
                border-radius:50%;
            }
            #segrip {
                right: -5px;
                bottom: -5px;
            }
            
               #ngrip{
                    top: -5px;
                   left:50%;
               }
               #sgrip{
                    bottom: -5px;
                   left: 50%;
               }
               #wgrip{
                    left:-5px;
                    top:50%;
               }
               #egrip{
                    right:-5px;
                    top:50%;
               }




               .btnDeleteResize {
    position: absolute;
    right:-25px;
    top:-25px;
    border:none;
}

.btnDeleteResizeLayout {
    position: absolute;
    right:-25px;
    top:-25px;
    border:none;
}




.submenuWidget {
    width:180px;
    background-color: #4b5155;
    -webkit-box-shadow: inset 0 0 1px 2px rgba(174,174,174,.24);
    -moz-box-shadow: inset 0 0 1px 2px rgba(174,174,174,.24);
    box-shadow: inset 0 0 1px 2px rgba(174,174,174,.24);
    float: right;
    height:auto;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 0px 4px #666;
    -webkit-box-shadow:0px 0px 4px #666;
    box-shadow:0px 0px 4px #666;
    overflow: hidden;
    border:1px solid #202427;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right:0px;
    left:0px;
    top:30px;
    z-index: 99999999999999;
}

.submenuWidget .head {
    width:180px;
    padding:5px;
    height: 20px;
    background: #404549;
    color:#fff;
    border-bottom:1px solid #202427;
}

.submenuWidget ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.submenuWidget ul li {
padding:7px;
border-bottom: 1px solid #202427;
margin-left: 0px;
color:#ccc;
cursor: pointer;
}

.submenuWidget ul li:hover {
 background: #202427   
}